<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Regex Library Test Suite">
            <directory>tests/Regex</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src/Regex/</directory>
        </include>
    </source>
</phpunit>
